/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */

body{
    background-color:#F6F8F9 ;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


/* HEADER */

header{
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
}


/* MAIN */

main{
    width: 75%;
    margin: auto;
    padding-left: 50px;
    background-color: white;
}


/*FIRST SECTION MAIN*/

.first-section{
    font-size: x-small;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}


.task{
    background-color: #47ADF1;
    color: white;
}

.section{
    color: #D4D8DC;
    border: 2px solid #D4D8DC;
}

hr{
    border: 1px solid #F4F7F8;
}


/*SECOND SECTION MAIN*/

h3{
    margin-top: 30px;
    margin-bottom: 5px;
}

.list{
    margin-bottom: 20px;
}

.check{
    color: #6EC5B1;
    font-size: xx-small;
    font-weight: bold;
    border: 2px solid #6EC5B1;
    padding: 4px;
    border-radius: 50%;
}

.cross{
    color: #E94B44;
    font-size: xx-small;
    font-weight: bold;
    border: 2px solid #E94B44;
    padding: 4px;
    border-radius: 50%;

}

.small-text{
    font-size: xx-small;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.blue-background{
    background-color: #45ABEA;
}

.violet-background{
    background-color: #9568E1;
}

.green-background{
    background-color: #63BFA8;
}

.orange-background{
    background-color: #F29E33;
}

.pink-background{
    background-color: #D863A1;
}

.lightgreen-background{
    background-color: #B0C926;
}
